.*
*.d
*.o
*.pyc
conf/engines.xml
deps/SQLAlchemy-0.8.3/
deps/cfitsio-3.3310/
deps/wcslib-4.14/
env/
src/c++/.build_env
src/c++/nph-serve
src/python/Paste*/
src/python/build/
src/python/dist/
src/python/ibe.egg-info/
src/python/production.ini
web/cgi-bin/
web/conf/apachectl.sh
web/conf/httpd.conf
web/html/data/
web/html/docs/
web/html/ibe/
web/logs/
