body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: small;
	color: black;
	background-color: white;
}
.content {
        width: 85%;
        margin-left: 2em;
}
.content ul {
	list-style: none;
        margin: 1em 0 2em 0;
}
.content dt {
	font-weight: bold;
	margin: 1em 0 1em 0em;
}
.content .col {
	color: #EE5C00;
	text-decoration: underline;
}
.content .path {
	color: #444;
	margin: 1em 0 1em 2em;
	font-size: medium;
}
.content .server, .content .root {
	color: gray;
}
.content .param {
	font-style: italic;
}

.content table {
	border-collapse:separate;
	border-spacing: 0.2em;
	margin: 1em 1em 1em 4em;
	white-space: nowrap;
}
.content td {
	margin: 0.25em;
	padding: 0 0.5em 0 0.5em;
	text-align: left;
	vertical-align: middle;
	border: 1px solid white;
}
.content th {
	margin: 0.25em;
	padding: 0.25em 0.5em 0.25em 0.5em;
	font-weight: bold;
	color: gray;
	background-color: #DDD;
	text-align: center;
	vertical-align: middle;
	border: 1px solid white;
}
.content tr:hover {
	color: #00F;
	background: #EEF;
	border: 1px solid blue;
}
.content td:hover {
	border: 1px solid #DDF;
}

